<ul>
  <li *ngFor="let fave of favourites" :key="fave.id">
    <div class="card" style="width: 18rem">
      <img class="card-img-top" [src]="fave.Poster" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{ fave.Title }}</h5>
        <p class="card-text">Type: {{ fave.Type }} Year: {{ fave.Year }}</p>
        <button
          type="button"
          class="btn btn-danger"
          (click)="remFavorite(fave.id)"
        >
          Unlike
        </button>
      </div>
    </div>
  </li>
</ul>
